@import models.Account

@(implicit request: Request[AnyContent])

@pc.commonflame(account = None,
title = "パスワード再設定",
description = "パスワード再設定"){
		<form method="post" action="@routes.Login.resetPasswordMail()" id="mail_data">
			<section class="login_header">
		        <p class="login_header__catch">パスワードを再設定</p>
	        </section>
	        <section class="login_contents">
	        	<div class="login_contents__inner">
		            <div class="login_contents__input">
						アカウントの登録メールアドレスをご入力ください。<br>パスワードリセット用のリンクをメールいたします。
		            </div>
					<p class="login_contents__input">
						<input type="email" name="email" id="email" placeholder="メールアドレス" value="" class="input_common">
					</p>
					<p class="login_contents__btn">
						<button type="submit" id="loginbutton" class="btn_common">リセット用リンクを送信</button>
					</p>
	        	</div>
	        </section>
		</form>

}