@import models.Account

@(form: Form[Option[models.Account]])(implicit request: Request[AnyContent])

@pc.commonflame(account = None,
title = "Sign in",
description = "Sign in"){

<article class="signup_page pb30">
		<h1 class="signup_page__title">
			manabookにログインする
    </h1>
    
    <section class="login_contents">
    	<div class="login_contents__inner">
          <div class="login-button-wrapper">
              <p id="fb-login-button">
                  <a href="@routes.FacebookAuthController.login("email,publish_actions")" class="btn_fb"><span class="btn_fb__text">Facebookでログイン</span></a>
              </p>
          </div>
					<p class="login_contents__caption">
						manabookが許可無くFacebook等へ投稿することはありません。
					</p>
			</div>
		</section>
	
		<section class="login_contents">
			<div class="login_contents__inner">
	
				<h2 class="login_contents__subtitle">または Emailでログインする</h2>
          
        <form action="@routes.Login.authenticate()" id="login_form" method="post">
	        <p class="login_contents__input">
	            <input type="text" name="email" id="email" placeholder="メールアドレス" value='@request.flash.get("email")' class="input_common validate[required,custom[email]]">
	        </p>
	        <p class="login_contents__input">
	            <input type="password" name="password" placeholder="パスワード" class="input_common validate[required]">
	        </p>
	        <p class="login_contents__btn">
	            <button type="submit" id="loginbutton" class="btn_common">ログインする</button>
	        </p>
					<p class="login_contents__forgetpassword">
						<a href="@routes.Login.forgetPassword()">パスワードをお忘れの場合はこちら</a>
					</p>
				</form>
    	</div>
    </section>
		<p class="signup_page__swith-link">
			<a href="@routes.Login.signup">アカウントをお持ちでない方はこちら</a>
		</p>
</article>

<link rel="stylesheet" href="@routes.Assets.versioned("cp/stylesheets/validationEngine.jquery.css")" type="text/css"/>
<script src="@routes.Assets.versioned("jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.versioned("jquery.validationEngine/languages/jquery.validationEngine-ja.js")" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  $("#login_form").validationEngine();
});
</script>
}