@import models.Account

@(email: String, token: String)(implicit request: Request[AnyContent])

@pc.commonflame(account = None,
title = "パスワード再設定",
description = "パスワード再設定"){
		<form method="post" action="@routes.Login.resetPasswordComplete()" id="mail_data">
			<section class="login_header">
		        <p class="login_header__catch">パスワードをリセットする</p>
	        </section>
	        <section class="login_contents">
	        	<div class="login_contents__inner">
					<p class="login_contents__input">
						<input type="password" name="new_password" id="new_password" placeholder="新しいパスワード" value="" class="input_common">
						<input type="hidden" name="token" value="@token">
						<input type="hidden" name="cryptm" value="@email">
					</p>
					<p class="login_contents__input">
						<input type="password" name="user_password_confirmation" id="user_password_confirmation" placeholder="新しいパスワードを確認" value="" class="input_common">
					</p>
					<p class="login_contents__btn">
						<button type="submit" id="loginbutton" class="btn_common">保存して続行</button>
					</p>
					<div class="login_contents__input">
					「保存して続行」をクリックすることで、<a href="" target="_blank">サービス利用規約</a>と<a href="" target="_blank">個人情報保護ポリシー </a>に同意したこととします。
					</div>
	        	</div>
	        </section>
		</form>

}