@import models.Account
@import constants._
@import controllers.Login

@(implicit request: Request[AnyContent])

@pc.commonflame(account = None,
title = "ユーザー登録",
description = "ユーザーを登録します"){

<article class="signup_page pb30">
	<h1 class="signup_page__title">
		title
	</h1>

	<form action="@routes.Login.createAccount()" id="signup_form" method="post">
	<section class="login_contents">
		<div class="login_contents__inner">
			<!--<h1 class="login_contents__catch">＼マナブックを無料で使ってみる／</h1>-->
			<div class="login-button-wrapper">
				<p id="fb-login-button">
					<a href="@routes.FacebookAuthController.login("email,publish_actions")" class="btn_fb"><span class="btn_fb__text">Facebookで始める</span></a>
				</p>
				<p class="login_contents__caption">
					manabookが許可無くFacebook等へ投稿することはありません。
				</p>
			</div>
		</div>
	</section>

	<section class="login_contents">
		<div class="login_contents__inner">
			<h2 class="login_contents__subtitle">または Emailで登録する</h2>
			<p class="login_contents__input">
				<input type="text" name="first_name" id="first_name" placeholder="お名前" value='@request.flash.get("first_name")' class="input_common validate[required]">
			</p>
			<p class="login_contents__input">
				<input type="text" name="email" id="email" placeholder="メールアドレス" value='@request.flash.get("email")' class="input_common validate[required,custom[email]]">
			</p>
			<p class="login_contents__input">
				<input type="password" name="password" placeholder="パスワード" class="input_common validate[required,minSize[8]]">
			</p>
			<p class="login_contents__btn">
				<input type="hidden" name="img_bucket" value="http://@(Constants.WebApplicationHost)@routes.Assets.versioned("images/profile_image_from_mail.png")" />
				<button type="submit" id="loginbutton" class="btn_common">登録する</button>
			</p>
		</div>
	</section>

	</form>
</article>
<link rel="stylesheet" href="@routes.Assets.versioned("cp/stylesheets/validationEngine.jquery.css")" type="text/css"/>
<script src="@routes.Assets.versioned("jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.versioned("jquery.validationEngine/languages/jquery.validationEngine-ja.js")" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  $("#signup_form").validationEngine();
});
</script>

}