@charset "UTF-8";
/* architectured by FLOCSS
   参照 http://pepabo.github.io/docs/frontend/standard/css-architecture/

├── assets
│   └── scss
│       ├── foundation
│       │   ├── _normalize.scss    // イニシャライズ CSS
│       │   ├── _typography.scss   // フォント
│       │   └── _base.scss         // 背景
│       ├── layout
│       │   ├── _header.scss
│       │   ├── _sidebar.scss
│       │   └── _footer.scss
│       ├── object
│       │   ├── component
│       │   │   ├── _button.scss
│       │   │   ├── _grid.scss
│       │   │   ├── _alert.scss
│       │   │   └── _icon.scss
│       │   ├── project
│       │   │   ├── _article.scss  // コンテンツ・記事
│       │   │   └── _product.scss  // 商品・ギャラリー
│       │   └── utility
│       │       ├── _align.scss    // 例外的に行うデザイン調整
│       │       └── _helper.scss   // ヘルパー class
│       ├── _settings.scss
│       ├── common.scss
│       └── pages
│           ├── page_a.scss
│           └── page_b.scss
└── public
    ├── css
    ├── page_A.html
    └── page_B.html

  *frameworks
  基本的にsassで使いやすそうなこの構成。http://mycoredump.hatenablog.com/entry/2015/02/20/175854
  これが使う上で参考になる。
  http://qiita.com/oreo3@github/items/8ce92be494ee4e3ee303
  http://qiita.com/1000k/items/83e4ab79e0a00e68130e
  http://qiita.com/Quramy/items/5491d8da29d1fe047464

  npm install node-neat
  npm install node-bourbon

  #イニシャライズ
  normalize.css http://necolas.github.io/normalize.css/
  #レイアウト,グリッドシステム
  bourbon neat http://qiita.com/inuscript/items/8f54b7baeb61a3341c6d
  #ユーティリティ/ヘルパー
  bourbon
  #コンポーネント
  ionic (*テスト的に使って見る
*/
/* @import "node_modules/node-normalize-scss/_normalize.scss"; */
/*
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

\:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100% / 1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

/* text boxで文字変換してる途中に文字が消えてしまう対応 */
::-moz-selection {
  color: inherit; }
::selection {
  color: inherit; }

/* @import "layout/sidebar"; */
/*
@import "compass/css3";
*/
/* @import "object/project/article"; */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.label-header {
  font-size: 20px;
  margin: 25px 0 0 50px; }

.label-tables {
  width: 980px; }

.label-table {
  width: 470px;
  margin: 25px 0 50px 50px;
  display: inline-block; }

.label-table-archived {
  width: 470px;
  min-height: 200px;
  margin: 60px 0 0 50px;
  display: inline-block;
  position: absolute; }

#label-table {
  margin: 10px 0;
  min-height: 200px;
  border: 1px dotted #333;
  border-radius: 10px; }

.label-table__header::after {
  clear: both;
  content: "";
  display: table; }

.label-table__header ul li {
  display: block;
  float: left;
  height: 30px;
  text-align: center; }

.label-table__handle {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .label-table__handle.label-table__handle--end {
    left: inherit;
    right: 10px; }

.label-table__name {
  border-radius: 3px;
  width: 240px; }

.label-table__color {
  width: 120px; }
  .label-table__color::after {
    clear: both;
    content: "";
    display: table; }

.label-table__default-task {
  width: 300px; }

.label-table__gabage {
  margin-left: 12px;
  width: 30px; }

.label-table__list {
  padding: 8px 0 8px 30px;
  position: relative;
  border: 1px dotted #333;
  border-radius: 10px; }
  .label-table__list::after {
    clear: both;
    content: "";
    display: table; }
  .label-table__list.sortable-ghost {
    opacity: 0.2; }
  .label-table__list ul li {
    float: left;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px; }
    .label-table__list ul li::after {
      clear: both;
      content: "";
      display: table; }
  .label-table__list + .label-table__list {
    /* margin-top: 20px; */ }

.label-table__name-text {
  margin-left: 15px;
  padding-left: 10px;
  width: 220px;
  border-bottom: solid 1px #333; }

.label-table__colorbox {
  border-radius: 5px;
  /* border: 1px dotted #333; */
  width: 100px;
  height: 25px;
  margin: 2px 15px 0 15px;
  float: left; }

.dropdown-caret {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 2px;
  /*　三角形（ボックスと同色） */ }
  .dropdown-caret:before {
    height: 0;
    width: 0;
    border-bottom: 6px solid #555;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -16px;
    /*ボックスの下に指定 */
    left: 5px;
    /*ボックスの左に指定 */ }
  .dropdown-caret:after {
    height: 0;
    width: 0;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -18px;
    /*　外枠となる三角形の位置から1pxずらす */
    left: 5px;
    /*　外枠となる三角形の位置から1pxずらす */ }

.label-table__colorbox__colorList-outer {
  padding: 10px;
  width: 800px;
  height: 60px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: white;
  z-index: 1; }

.label-table__colorbox__colorList {
  float: left;
  border-radius: 10px;
  height: 40px;
  width: 40px; }
  .label-table__colorbox__colorList + .label-table__colorbox__colorList {
    margin-left: 10px; }

.label-table__colorbox__picker {
  position: relative; }
  .label-table__colorbox__picker::after {
    clear: both;
    content: "";
    display: table; }

.label-table__colorbox__slick__outer {
  position: absolute;
  top: 45px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #555;
  border-radius: 8px; }

.Icon--smallest {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.label-table__colorbox__colorList__radio {
  visibility: hidden; }
  .label-table__colorbox__colorList__radio:checked:after {
    top: 5px;
    left: 10px;
    position: absolute;
    content: "\30EC";
    visibility: visible; }

.label-table__colorbox__colorSet {
  float: left;
  margin-left: 20px; }

.label-table__color {
  font-size: 18px; }

.label-table__color-text {
  font-size: 18px;
  width: 90px;
  border-bottom: solid 1px #333; }

.label-table__default-text {
  width: 280px;
  border-bottom: solid 1px #333; }

.label-table__gabage-img {
  height: 25px;
  width: 25px;
  cursor: pointer; }

.label-table__add-img {
  height: 25px;
  width: 25px;
  vertical-align: bottom; }

.label-table__add-box {
  display: inline-block;
  /* margin-top: 20px; */ }

.label-table__add-text {
  font-size: 22px;
  line-height: 25px;
  margin-left: 5px;
  color: #555; }

.label-archived__title {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.label-table-archived-sorted {
  border: solid 1px #333;
  border-radius: 6px;
  min-height: 200px;
  padding-top: 30px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.header {
  background-color: #007E84; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header a {
    color: #ffffff; }

.header__site-logo {
  float: left;
  font-size: 30px; }

.header__menu {
  float: right; }
  .header__menu::after {
    clear: both;
    content: "";
    display: table; }
  .header__menu > ul > li {
    float: left; }
    .header__menu > ul > li + li {
      margin-left: 10px; }
    .header__menu > ul > li > a {
      background-size: 20px 20px;
      display: inline-block;
      border: #fff 1px solid;
      border-radius: 6px;
      padding: 5px;
      font-size: 15px; }
  .header__menu.project {
    /*
    background:url(/assets/images/icon/icon-project.png) no-repeat;
*/ }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.project-header {
  font-size: 20px;
  margin: 25px 0 0 50px; }

.project-tables {
  width: 980px; }

.project-table {
  width: 470px;
  margin: 25px 0 50px 50px;
  display: inline-block; }

.project-table-archived {
  width: 470px;
  min-height: 200px;
  margin: 60px 0 0 50px;
  display: inline-block;
  position: absolute; }

#project-table {
  margin: 10px 0;
  min-height: 200px;
  border: 1px dotted #333;
  border-radius: 10px; }

.project-table__header::after {
  clear: both;
  content: "";
  display: table; }

.project-table__header ul li {
  display: block;
  float: left;
  height: 30px;
  text-align: center; }

.project-table__handle {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .project-table__handle.project-table__handle--end {
    left: inherit;
    right: 10px; }

.project-table__name {
  border-radius: 3px;
  width: 240px; }

.project-table__color {
  width: 120px; }
  .project-table__color::after {
    clear: both;
    content: "";
    display: table; }

.project-table__default-task {
  width: 300px; }

.project-table__gabage {
  margin-left: 12px;
  width: 30px; }

.project-table__list {
  padding: 8px 0 8px 30px;
  position: relative;
  border: 1px dotted #333;
  border-radius: 10px; }
  .project-table__list::after {
    clear: both;
    content: "";
    display: table; }
  .project-table__list.parent_second_level {
    margin-left: 50px; }
  .project-table__list.parent_third_level {
    margin-left: 100px; }
  .project-table__list ul li {
    float: left;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px; }
    .project-table__list ul li::after {
      clear: both;
      content: "";
      display: table; }
  .project-table__list + .project-table__list {
    /* margin-top: 20px; */ }

.sortable-ghost > .project-table__list {
  opacity: 0.2; }
  .sortable-ghost > .project-table__list.second_level {
    margin-left: 50px; }
  .sortable-ghost > .project-table__list.third_level {
    margin-left: 100px; }

.project-table__name-text {
  margin-left: 15px;
  padding-left: 10px;
  width: 220px;
  border-bottom: solid 1px #333; }

.project-table__colorbox {
  border-radius: 5px;
  /* border: 1px dotted #333; */
  width: 100px;
  height: 25px;
  margin: 2px 15px 0 15px;
  float: left; }

.dropdown-caret {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 2px;
  /*　三角形（ボックスと同色） */ }
  .dropdown-caret:before {
    height: 0;
    width: 0;
    border-bottom: 6px solid #555;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -16px;
    /*ボックスの下に指定 */
    left: 5px;
    /*ボックスの左に指定 */ }
  .dropdown-caret:after {
    height: 0;
    width: 0;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -18px;
    /*　外枠となる三角形の位置から1pxずらす */
    left: 5px;
    /*　外枠となる三角形の位置から1pxずらす */ }

.project-table__colorbox__colorList-outer {
  padding: 10px;
  width: 800px;
  height: 60px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: white;
  z-index: 1; }

.project-table__colorbox__colorList {
  float: left;
  border-radius: 10px;
  height: 40px;
  width: 40px; }
  .project-table__colorbox__colorList + .project-table__colorbox__colorList {
    margin-left: 10px; }

.project-table__colorbox__picker {
  position: relative; }
  .project-table__colorbox__picker::after {
    clear: both;
    content: "";
    display: table; }

.project-table__colorbox__slick__outer {
  position: absolute;
  top: 45px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #555;
  border-radius: 8px; }

.Icon--smallest {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.project-table__colorbox__colorList__radio {
  visibility: hidden; }
  .project-table__colorbox__colorList__radio:checked:after {
    top: 5px;
    left: 10px;
    position: absolute;
    content: "\30EC";
    visibility: visible; }

.project-table__colorbox__colorSet {
  float: left;
  margin-left: 20px; }

.project-table__color {
  font-size: 18px; }

.project-table__color-text {
  font-size: 18px;
  width: 90px;
  border-bottom: solid 1px #333; }

.project-table__default-text {
  width: 280px;
  border-bottom: solid 1px #333; }

.project-table__gabage-img {
  height: 25px;
  width: 25px;
  cursor: pointer; }

.project-table__add-img {
  height: 25px;
  width: 25px;
  vertical-align: bottom; }

.project-table__add-box {
  display: inline-block;
  /* margin-top: 20px; */ }

.project-table__add-text {
  font-size: 22px;
  line-height: 25px;
  margin-left: 5px;
  color: #555; }

.project-archived__title {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.project-table-archived-sorted {
  border: solid 1px #333;
  border-radius: 6px;
  min-height: 200px;
  padding-top: 30px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* /@import "bourbon";
@import "neat";
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.cf::after {
  clear: both;
  content: "";
  display: table; }
