/* for slick */
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
  right: 0;
  left: auto;
  top: 45px;
  z-index: 99;
  transform: rotate(90deg);
}
.slick-prev {
  right: 0;
  left: auto;
  top: 5px;
  z-index: 100;
  transform: rotate(90deg);
}
