<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/pages/csslearning_1.css?201603120013")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/common.css")'>
</head  >
<body>

<nav>
    <div class="btn">&#926;</div>
    <ul>
        <li><a href="">top</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <li><a href="">4th</a></li>
        <li><a href="">5th</a></li>
        <li><a href="">6th</a></li>
    </ul>
</nav>
<header>
    <h1>有るスマホサイト</h1>
</header>

<!--<h1>スクーは生放送授業を無料で受講できるサービスです</h1>-->
<!--<h2 style="color: blue;">スクーの「授業」は生放送！</h2>-->
<!--<p>スクーは「みんなで一緒に学ぶ」がコンセプト。WEB上の教室に着席して授業を受講します。わからないことや聞いてみたいことは先生に直接質問することができます。</p>-->
<!--...-->
<!--<ul>-->
    <!--<li>※1　生放送を見逃した方向けに、録画配信も行っています。</li>-->
    <!--<li>※2　無料会員登録でチャットなどにもご参加いただけます。</li>-->
<!--</ul>-->
<!--<p><a href="https://schoo.jp/classreport?ref=about"><img src="schoo.png" alt="大公開　過去授業レポート"></a></p>-->



</body>
</html>