@import constants._

@(implicit request: Request[AnyContent])


@pc.commonflame(account = None,
title = "manabookについて",
description = "manabookについて") {
    <article class="about">
			<img src="/assets/images/about_main.jpg" width="830" height="329" />
			
			<div class="about-wrap">
				<section>
					<p class="about__title">
						manabook（マナブック）の目的は、<br />先生を支援して、学ぶ機会を拡げることです。
					</p>
					私たちが暮らす街には、文化やスポーツなどの素晴らしさを伝えている先生がたくさんいます。そんなシェアマインドに溢れた先生達が、今までになく「教える」ことに集中できる環境をmanabookは提供します。<br /><br />
					その結果、優秀で人気な先生がいる街が活気付く波紋が、あちこちで生まれて、子どもたちや大人が学ぶ機会が広がること－　それがmanabookのゴールです。<br /><br />
					Give learning a chance を合言葉に、日々サービスを良くして参りますので、お気づきのことがありましたら、こちらまでフィードバックをお願いします。
					
					<dl class="about__info mt20">
						<dt>
							Eメール
						</dt>
						<dd>
							cs＠manabook.me
						</dd>
					</dl>
					
					<dl class="about__info mb20">
						<dt>
							Facebookページ
						</dt>
						<dd>
							<a href="https://www.facebook.com/manabookme/" target="_blank">https://www.facebook.com/manabookme/</a>
						</dd>
					</dl>
					
					チーム・マナブック 代表  上田貴弘
				</section>
				
				<section class="about__member">
					<h1 class="about__member__title">Team manabookのメンバー紹介</h1>
					
					<div class="clearfix">
						<div class="about__member__profile">
							<div class="about__member__profile-img">
								<img src="/assets/images/about_profile_ueda.jpg" width="118" height="118" />
							</div>
							<div class="about__member__profile-data">
								<div class="about__member__profile-name">
									上田貴弘<br />Takahiro Ueda
								</div>
								<div class="about__member__profile-role">
									manabook代表
								</div>
							</div>
							<div class="about__member__profile-txt">
								1976年生まれ。早稲田大学第一文学部卒。デザイナー、Webプロデュース業を経てＥＣマーケテイングに従事。二児の父。<br />
								manabook立ち上げを考えたのは、子どもたちの教育環境に接するなかで教育市場における変化の量が足りていないと感じたから。新しい教育の機会を世界中に提供していきたい。<br /><br />
								Facebook<br />
								<a href="https://www.facebook.com/takahiro.ueda" target="_blank">https://www.facebook.com/takahiro.ueda</a>
							</div>
						</div>
						
						<div class="about__member__profile">
							<div class="about__member__profile-img">
								<img src="/assets/images/about_profile_shinbori.jpg" width="118" height="118" />
							</div>
							<div class="about__member__profile-data">
								<div class="about__member__profile-name">
									新堀善丈<br />
									Yoshitake Shinbori
								</div>
								<div class="about__member__profile-role">
									manabook エンジニア
								</div>
							</div>
							<div class="about__member__profile-txt">
								1981年生まれ。ソフトウェア開発会社でSEとして勤務後、食品ネット宅配会社の社内SEに転職、IT分野から事業運営全般を経験。料理好き。<br /><br />
								Facebook<br />
								<a href="https://www.facebook.com/yoshitake.shinbori" target="_blank">https://www.facebook.com/yoshitake.shinbori</a>
							</div>
						</div>
					</div>
				</section>
			</div>
    </article>

}