@(project: Project)

<li project-id="@project.id" class="project-table-box" style="background-color:#ccc">
  <div project-id="@project.id" class="project-table__list">
    <span class="project-table__handle">|||</span>
    <ul>
      <li class="project-table__name">
        <input class="project-table__name-text" project-id="@project.id" name="project_name" type="text" value="@project.name">
      </li>
      <li class="project-table__gabage"><img project-id="@project.id" name="remove_project" class="project-table__gabage-img" height="30" width="30" src="@routes.Assets.versioned("images/icon-remove.png")"></li>
    </ul>
    <span class="project-table__handle project-table__handle--end">|||</span>
  </div>
</li>
