@(label: Label)

<li label-id="@label.id" class="label-table__list">
  <span class="label-table__handle">|||</span>
  <ul>
    <li class="label-table__color">
      <div class="label-table__colorbox" name="label_color" style="background-color:#@label.color">
      </div><div class="label-table__colorbox__picker" style="display:none">
        <div class="dropdown-caret"></div>
        <div class="label-table__colorbox__slick__outer">
          <div class="label-table__colorbox__slickbox">
            <div class="label-table__colorbox__colorList-outer">
              <div class="label-table__colorbox__colorList" style="background-color: #ff691f">
                <label class="Icon Icon--smallest"><input  data-color="ff691f" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #fab81e">
                  <label class="Icon Icon--smallest"><input  data-color="fab81e" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #7fdbb6">
                  <label class="Icon Icon--smallest"><input  data-color="7fdbb6" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #19cf86">
                  <label class="Icon Icon--smallest"><input  data-color="19cf86" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #91d2fa">
                  <label class="Icon Icon--smallest"><input  data-color="91d2fa" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #1b95e0">
                  <label class="Icon Icon--smallest"><input  data-color="1b95e0" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #abb8c2">
                  <label class="Icon Icon--smallest"><input  data-color="abb8c2" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #e81c4f">
                  <label class="Icon Icon--smallest"><input  data-color="e81c4f" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #f58ea8">
                  <label class="Icon Icon--smallest"><input  data-color="f58ea8" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #981ceb">
                  <label class="Icon Icon--smallest"><input  data-color="981ceb" label-id="@label.id" class="label-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorSet">
                Japanese Traditional
              </div>
            </div>
            <div class="label-table__colorbox__colorList-outer">
              <div class="label-table__colorbox__colorList" style="background-color: #ff691f">
                <label class="Icon Icon--smallest"><input  data-color="ff691f" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #fab81e">
                  <label class="Icon Icon--smallest"><input  data-color="fab81e" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #7fdbb6">
                  <label class="Icon Icon--smallest"><input  data-color="7fdbb6" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #19cf86">
                  <label class="Icon Icon--smallest"><input  data-color="19cf86" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #91d2fa">
                  <label class="Icon Icon--smallest"><input  data-color="91d2fa" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #1b95e0">
                  <label class="Icon Icon--smallest"><input  data-color="1b95e0" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #abb8c2">
                  <label class="Icon Icon--smallest"><input  data-color="abb8c2" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #e81c4f">
                  <label class="Icon Icon--smallest"><input  data-color="e81c4f" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #f58ea8">
                  <label class="Icon Icon--smallest"><input  data-color="f58ea8" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #981ceb">
                  <label class="Icon Icon--smallest"><input  data-color="981ceb" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorSet">
                Pastel Colors
              </div>
            </div>
            <div class="label-table__colorbox__colorList-outer">
              <div class="label-table__colorbox__colorList" style="background-color: #ff691f">
                <label class="Icon Icon--smallest"><input  data-color="ff691f" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #fab81e">
                  <label class="Icon Icon--smallest"><input  data-color="fab81e" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #7fdbb6">
                  <label class="Icon Icon--smallest"><input  data-color="7fdbb6" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #19cf86">
                  <label class="Icon Icon--smallest"><input  data-color="19cf86" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #91d2fa">
                  <label class="Icon Icon--smallest"><input  data-color="91d2fa" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #1b95e0">
                  <label class="Icon Icon--smallest"><input  data-color="1b95e0" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #abb8c2">
                  <label class="Icon Icon--smallest"><input  data-color="abb8c2" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #e81c4f">
                  <label class="Icon Icon--smallest"><input  data-color="e81c4f" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #f58ea8">
                  <label class="Icon Icon--smallest"><input  data-color="f58ea8" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorList" style="background-color: #981ceb">
                  <label class="Icon Icon--smallest"><input  data-color="981ceb" label-id="@label.id" class="label\-table__colorbox__colorList__radio" type="radio" name="ColorPicker\-colorGroup-@label.id"></label>
              </div>
              <div class="label-table__colorbox__colorSet">
                Natural colors
              </div>
            </div>
        </div>
      </div>
    </div>
    </li>
    <li class="label-table__name" @* style="background-color:#@label.color" *@>
      <input class="label-table__name-text" label-id="@label.id" name="color_name" type="text" value="@label.name">
    </li>
    <li class="label-table__gabage"><img label-id="@label.id" name="remove_label" class="label-table__gabage-img" height="30" width="30" src="@routes.Assets.versioned("images/icon-remove.png")"></li>
  </ul>
  <span class="label-table__handle label-table__handle--end">|||</span>
</li>
