@import util.TwirlUtil
@(login: Option[Account])(implicit request: Request[AnyContent])

@pc.commonflame(account = login,
                title = "talbes | taluu",
                description = "taluu | just focus now.") {

<h1 class="label-header">ラベル一覧</h1>
@login.map{acc=>
  <div class="label-tables">
    <div class="label-table">
      <div class="label-table__add">
        <a class="add-label label-table__add-box" href="javascript: void(0);">
          <img class="label-table__add-img" height="25" width="25" src="@routes.Assets.versioned("images/icon-add.png")">
          <span class="label-table__add-text">labelを追加</span>
        </a>
      </div>

      @*
      <div class="label-table__header">
        <ul>
          <li class="label-table__color">Color</li>
          <li class="label-table__name">Label name</li>
          <li class="label-table__gabage"></li>
        </ul>
      </div>
      *@
      <ul id="label-table">
        @for(labelTpl <- acc.labels.filter(!_.archivedFlg).sortBy(_.ind).zipWithIndex) {
          @inc_color_line(labelTpl._1)
        }
      </ul>
      <div class="label-table__add">
        <a class="add-label label-table__add-box" href="javascript: void(0);">
          <img class="label-table__add-img" height="25" width="25" src="@routes.Assets.versioned("images/icon-add.png")">
          <span class="label-table__add-text">labelを追加</span>
        </a>
      </div>
    </div>
    <div class="label-table-archived">
      <div class="label-archived__title">
        <div>非表示ラベル</div>
        <!--<img src="@routes.Assets.versioned("images/icon-archive.png")">-->
      </div>
      <ul id="label-table-archived-sorted" class="label-table-archived-sorted">
        @for(label <- acc.labels.filter(_.archivedFlg).sortBy(_.ind)) {
          @inc_color_line(label)
        }
      </ul>
    </div>
  </div>
}.getOrElse{
  <a href="@routes.LabelAuthController.index">ログイン</a>されていません。<a href="@routes.LabelAuthController.index">ログイン</a>してください。
}
<script>
@*
  var line = @TwirlUtil.jsStr(inc_color_line(None));
*@
</script>
}
<script src='@routes.Assets.versioned("js/label.js")?ymd=20160422' type="text/javascript"></script>
