<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>柴犬 - Wikipedia</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css?20")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/pages/github.css?201603120013")'>
    <link rel="icon" href="https://ja.wikipedia.org/static/favicon/wikipedia.ico">
</head>
<body>
  <div id="media" class="main">
    <nav id="sidenav" class="c-sidenav-box">
      <a class="c-logo">
          <svg aria-hidden="true" class="octicon octicon-mark-github" height="28" version="1.1" viewBox="0 0 16 16" width="28"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
      </a>
      <ul>
        <li class="c-sidenav-main">
            <ul class="c-sidenav-navs">
                <li><a href="#">メインページ</a></li>
                <li><a href="#">コミュニティ・ポータル</a></li>
                <li><a href="#">最近の出来事</a></li>
                <li><a href="#">新しいページ</a></li>
                <li><a href="#">最近の更新</a></li>
                <li><a href="#">おまかせ表示</a></li>
                <li><a href="#">練習用ページ</a></li>
                <li><a href="#">アップロード (ウィキメディア・コモンズ)</a></li>
            </ul>
        </li>
        <li class="c-sidenav">
            <h2 class="c-sidenav__sub-menu">ヘルプ</h2>
            <ul class="c-sidenav-navs">
                <li><a href="#">ヘルプ</a></li>
                <li><a href="#">井戸端</a></li>
                <li><a href="#">お知らせ</a></li>
                <li><a href="#">バグの報告</a></li>
                <li><a href="#">寄付</a></li>
                <li><a href="#">ウィキペディアに関するお問い合わせ</a></li>
            </ul>
        </li>
        <li class="c-sidenav">
            <h2 class="c-sidenav__sub-menu">印刷/書き出し</h2>
            <ul class="c-sidenav-navs">
                <li><a href="#">ブックの新規作成</a></li>
                <li><a href="#">PDF 形式でダウンロード</a></li>
            </ul>
        </li>
        <li class="c-sidenav">
            <h2 class="c-sidenav__sub-menu">他のプロジェクト</h2>
            <ul class="c-sidenav-navs">
                <li><a href="#">コモンズ</a></li>
            </ul>
        </li>
        <li class="c-sidenav">
            <h2 class="c-sidenav__sub-menu">ツール</h2>
            <ul class="c-sidenav-navs">
                <li><a href="#">リンク元</a></li>
                <li><a href="#">関連ページの更新状況</a></li>
                <li><a href="#">ファイルをアップロード</a></li>
                <li><a href="#">特別ページ</a></li>
                <li><a href="#">この版への固定リンク</a></li>
                <li><a href="#">ページ情報</a></li>
                <li><a href="#">ウィキデータ項目</a></li>
                <li><a href="#">このページを引用</a></li>
            </ul>
        </li>
        <li class="c-sidenav">
            <h2 class="c-sidenav__sub-menu">他言語版<span class="c-sidenav__setting"></span></h2>
            <ul class="c-sidenav-navs">
                <li><a href="#">Български</a></li>
                <li><a href="#">Català</a></li>
                <li><a href="#">Čeština</a></li>
                <li><a href="#">Cymraeg</a></li>
                <li><a href="#">Dansk</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">Esperanto</a></li>
                <li><a href="#">Español</a></li>
                <li><a href="#">Suomi</a></li>
                <li><a href="#">Français</a></li>
                <li><a href="#">עברית</a></li>
                <li><a href="#">Hrvatski</a></li>
                <li><a href="#">Magyar</a></li>
                <li><a href="#">Bahasa Indonesia</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">ქართული</a></li>
                <li><a href="#">한국어</a></li>
                <li><a href="#">Latina</a></li>
                <li><a href="#">Bahasa Melayu</a></li>
                <li><a href="#">Nederlands</a></li>
                <li><a href="#">Norsk nynorsk</a></li>
                <li><a href="#">Norsk bokmål</a></li>
                <li><a href="#">Occitan</a></li>
                <li><a href="#">Polski</a></li>
                <li><a href="#">Português</a></li>
                <li><a href="#">Русский</a></li>
                <li><a href="#">Scots</a></li>
                <li><a href="#">Simple English</a></li>
                <li><a href="#">Svenska</a></li>
                <li><a href="#">Tiếng Việt</a></li>
                <li><a href="#">中文</a></li>
                <li><a class="c-sidenav__sub-menu--edit" href="#">リンクを編集</a></li>
            </ul>
        </li>
      </ul>
    </nav>
    <div id="media-main" class="media-main cf">
      <header class="c-header">
        <div class="c-header__box">
          <span class="c-header-nav__announce">ログインしていません</span>
          <a href="#">トーク</a>
          <a href="#">投稿記録</a>
          <a href="#">アカウント作成</a>
          <a href="#">ログイン</a>
      </div>
      </header>
      <div class="c-page-changer">
        <div class="c-page-tabs">
          <ul class="c-page-tabs--left">
            <li><a class="c-page-tab is-active" href="">ページ</a></li>
            <li><a class="c-page-tab c-page-tab--rightborder" href="">ノート</a></li>
          </ul>
          <ul class="c-page-tabs--right">
            <li class="c-page---search"><input type="text" placeholder="検索"></li>
            <li><a class="c-page-tab c-page-tab--rightborder" href="">履歴表示</a></li>
            <li><a class="c-page-tab" href="">編集</a></li>
            <li><a class="c-page-tab is-active" href="">閲覧</a></li>
          </ul>
        </div>
        <main id="main-content" class="main-content">
          <article class="c-main__sec_article">
            <h1 class="c-main__header">柴犬</h1>
            <div class="c-main__caution">
              <div class="c-main__caution__img" ><img src="//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Nuvola_apps_important_orange.svg/40px-Nuvola_apps_important_orange.svg.png" alt="" />
              </div>
              <div class="c-main__caution__text">
                <h2 class="c-main__caution__header">この記事には<span class="bold">複数の問題があります</span>。<a href="">改善</a>やノートページでの議論にご協力ください。</h2>
                <ul>
                  <li><span class="bold"><a href="">出典</a></span>がまったく示されていないか不十分です。内容に関する<a href="">文献や情報源</a>が必要です。<small>（2015年10月）</small></li>
                  <li><span class="bold"><a href="">独自研究</a></span>が含まれているおそれがあります。<small>（2015年10月）</small></li>
                  <li><span class="bold"><a href="">言葉を濁した</a></span>曖昧な記述になっています。<small>（2015年10月）</small></li>
                  <li><span class="bold">日本</span>中心に書かれており、<span class="bold"><a href="">世界的観点</a></span>からの説明がされていないおそれがあります。<small>（2015年10月）</small></li>
                </ul>
              </div>
            </div>
            <div class="c-main__subtxt">
              <p><a href="#"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Disambig_gray.svg/25px-Disambig_gray.svg.png" alt=""></a>
                「<span class="bold">豆柴</span>」はこの項目へ<a href="">転送</a>されています。電通のキャラクターについては「<a href="">豆しば</a>」をご覧ください。</p>
            </div>
            <section class="c-main__sec">
              <table class="c-datalist">
                <tbody>
                <tr><th>柴犬（しばいぬ）</th></tr>
                <tr>
                  <td>
                  <figure>
                    <img height="200" width="250" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Shiba_Inu.jpg/500px-Shiba_Inu.jpg" alt="">
                    <figcaption>赤毛の柴犬</figcaption>
                  </figure>
                  </td>
                </tr>
                <tr>
                  <td>
                  <figure>
                    <img height="172" width="250" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/%E9%BB%92%E6%9F%B4%E7%8A%AC%EF%BC%88%E9%BB%92%E6%9F%B4%EF%BC%89.jpg/500px-%E9%BB%92%E6%9F%B4%E7%8A%AC%EF%BC%88%E9%BB%92%E6%9F%B4%EF%BC%89.jpg" alt="">
                    <figcaption>黒毛の柴犬</figcaption>
                  </figure>
                </td>
                </tr>
                <tr><th>英語名</th></tr>
                <tr>
                  <td>
                    <p><a href="">Shiba Inu</a>, Shiba,</p>
                  <p>Japanese Shiba Inu</p>
                  </td>
                </tr>
                <tr><th><p>別称</p></th></tr>
                <tr><td><p>柴（しば）</p></td></tr>
                <tr><th><p>原産国（原産地）</p></th></tr>
                <tr><td><p><a class="c-datalist__nation-flag" href="#"><img width="27.5" height="20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/50px-Flag_of_Japan.svg.png" alt=""></a><a href="">日本</a>（中央高地など本州各地）</p></td></tr>
                <tr><th>
                  <p>各国団体のグループ分類</p>
                </th></tr>
                <tr><td><table class="c-datalist__inner">
                  <tbody>
                    <tr>
                      <td><a href="">FCI</a>:</td>
                      <td>Group 5 Section 5 #257</td>
                    </tr>
                    <tr>
                      <td><a href="">JKC</a>（日）:</td>
                      <td>第5グループ</td>
                    </tr>
                    <tr>
                      <td><a href="">AKC</a>（米）:</td>
                      <td>Non-sporting</td>
                    </tr>
                    <tr>
                      <td><a href="">ANKC</a>（豪）:</td>
                      <td>Group 6 (Utility)</td>
                    </tr>
                    <tr>
                      <td><a href="">CKC</a>（加）:</td>
                      <td>Group 6 - Non-Sporting</td>
                    </tr>
                    <tr>
                      <td><a href="">KC(UK)</a>（英）:</td>
                      <td>Utility</td>
                    </tr>
                    <tr>
                      <td><a href="">NZKC</a>:</td>
                      <td>Utility</td>
                    </tr>
                    <tr>
                      <td><a href="">UKC</a>（米）:</td>
                      <td>Nothern Breeds</td>
                    </tr>
                  </tbody>
                </table></td></tr>
                <tr><th>
                  <p>各国団体のスタンダード（外部リンク）</p>
                </th></tr>
                <tr><td><p><a href="" class="c-link--icon">FCI</a>、<a href="" class="c-link--icon">JKC</a>、<a href="" class="c-link--icon">AKC</a>、<a href="" class="c-link--icon">ANKC</a>、</p>
                <p><a href="" class="c-link--icon">CKC</a>、<a href="" class="c-link--icon">KC(UK)</a>、<a href="" class="c-link--icon">NZKC</a>、</p>
                <p><a href="" class="c-link--icon">UKC</a></p></td></tr>
                </tbody>
              </table>
              <p class="c-section__text"><span class="bold">柴犬</span>（しばいぬ）は、<a href="">日本</a>原産の<a href="">日本犬</a>の一種。オスは体高38 - 41cm、メスは35 - 38cmの犬種。日本の<a href="">天然記念物</a>に指定された7つの日本犬種（現存は6犬種）の1つで、指定は<a href="">1936年</a>（<a href="">昭和</a>11年）<a href="">12月16日</a>。日本における飼育頭数は最も多い。<!--
              --><a href="">日本犬保存会</a>によれば、現在<span class="caption">[<a href="">いつ?</a>]</span>日本で飼育されている日本犬種（6犬種）のうち、柴犬は約80%を占める。日本国外でも人気が高い。<a href="">小型犬</a>に分類される。
              </p>
              <nav class="c-main__nav">
                <h2>目次<a href="#">非表示</a></h2>
                <ol>
                  <li><a href="">1 &#160;名前の由来</a></li>
                  <li>
                    <p><a href="">2 &#160;歴史</a></p>
                    <ol>
                      <li><a href="">2.1 &#160;柴犬の系統</a></li>
                      <li><a href="">2.2 &#160;縄文犬と柴犬の歴史</a></li>
                    </ol>
                  </li>
                  <li><a href="">3 &#160;特性</a></li>
                  <li><a href="">4 &#160;豆柴犬</a>
                    <ol>
                      <li><a href="">4.1 &#160;豆柴犬購入による被害</a></li>
                    </ol>
                  </li>
                  <li><a href="">5 &#160;ギャラリー</a></li>
                  <li><a href="">6 &#160;脚注</a></li>
                  <li><a href="">7 &#160;関連項目</a></li>
                  <li><a href="">8 &#160;外部リンク</a></li>
                </ol>
              </nav>

              <h2>名前の由来<a href="">編集</a></h2>
              <p class="c-section__text">「柴犬」という名前は<a href="">中央高地</a>で使われていたもので、文献上では、<a href="">昭和</a>初期の日本犬保存会の会誌「日本犬」で用いられている。一般的には、「柴」は「柴刈り」などの意味であり、小ぶりな雑木を指す。</p>
              <p class="c-section__text">由来には諸説があり、</p>
              <ul class="c-section__ul">
                <li>柴藪を巧みに潜（くぐ）り抜けて猟を助けることから</li>
                <li>赤褐色の毛色が枯れ柴に似ている（柴赤）ことから</li>
                <li>小さなものを表す古語の「柴」から</li>
              </ul>
              <p class="c-section__text">の3つの説が代表的。</p>
            </section>
            <section class="c-main__sec">
              <h2>歴史<a href="">編集</a></h2>
              <section class="c-main__sub-sec">
                <h2 class="c-main__subsec">柴犬の系統<a href="">編集</a></h2>
                <figure class="c-main__sub-sec__fig--left">
                  <img width="221" height="94" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Phylogenetic_tree_of_ancient_dog_breeds.png/440px-Phylogenetic_tree_of_ancient_dog_breeds.png" alt="">
                  <figcaption>古代犬種の系統樹</figcaption>
                </figure>
                <p class="c-section__text">遺伝的には古くからの血を受け継ぐ現存古代犬種（en:Ancient dog breeds）の一つで、DNA分析からは、次のように順次分岐してきたとされている（左図参照）。まず、イヌがハイイロオオカミから分岐した。そのイヌが、（1）柴犬、秋田犬などのアジアスピッツ系、およびチャウチャウ、シャー・ペイなどの青舌マスティフ系になる系統と、（2）バセンジー、アフガン・ハウンドなどのハウンド系およびシベリアン・ハスキー、アラスカン・マラミュートなどの北極スピッツ系になる系統と、に分岐した。その後（1）の系統からシャー・ペイが分岐して別れ、残りが柴犬・チャウチャウ・秋田犬群の系統となった。柴犬はこの時点の系統から最初に分岐した。なお残りのチャウチャウ・秋田犬群はその後それぞれに分岐した[1][2]。</p>
              </section>
              <section class="c-main__sec-sec">
                <h2 class="c-main__subsec">縄文犬と柴犬の歴史<a href="">編集</a></h2>
                <figure class="c-main__sub-sec__fig cf">
                  <a href="" class="c-thumbnail-img-link">
                    <img width="154" height="120" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Shiba_czarna.jpg/300px-Shiba_czarna.jpg" alt="">
                  </a>
                  <a href="" class="c-thumbnail-icon">
                    <img src="">
                  </a>
                  <figcaption>黒毛</figcaption>
                </figure>
                <figure class="c-main__sub-sec__fig">
                  <a href="" class="c-thumbnail-img-link">
                    <img height="241" width="184" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Jomon_People_and_Jomon_Dog.jpg/360px-Jomon_People_and_Jomon_Dog.jpg" alt="">
                  </a>
                  <a href="" class="c-thumbnail-icon">
                    <img src="">
                  </a>
                  <figcaption>縄文人と縄文犬の復元模型（国立科学博物館の展示）</figcaption>
                </figure>
                <p>日本列島においては縄文時代早期からイヌが出現し、縄文犬と呼ばれている。縄文犬は各地の貝塚から出土しており、これまでに200点以上の犬骨が出土している。縄文犬は猟犬として用いられ、丁重に埋葬された出土事例が多い。人の埋葬に伴う出土事例もあり、特に女性の埋葬に係る呪術的な位置づけであったとする説もある。縄文犬は縄文早期には体高45センチメートル程度の中型犬で、後に島嶼化を起こして小型化し、縄文中期・後期には体高40センチメートル程度になる。弥生時代には大陸から別系統の弥生犬がもたらされ、縄文犬と形質が異なる。多くは柴系であるとされ毛色は不明であるが、大部分は額段（ストップ）がごく浅く、大きな歯牙を持つ。柴犬の熱心な愛好家には、ほっそりした筋肉質の体格や軽快で俊敏な動き、野性的な鋭い警戒性、人間との強い信頼関係とともに、このような縄文犬の特質を柴犬に求める人もいる。</p>
                <p>昔から本州各地で飼われ、古くから、ヤマドリ・キジなどの鳥やウサギなどの小動物の狩猟、およびそれに伴う諸作業に用いられてきた犬である。信州の川上犬、保科犬、戸隠犬、美濃の美濃柴犬、山陰の石州犬や因幡犬など、分布地域によっていくつかのグループに細分されていた。第二次世界大戦後の食糧難の時代や、その後1952年（昭和27年）に犬ジステンパーが流行したことによって頭数が激減した[3]。</p>
                <p>現在大多数を占めているいわゆる信州柴犬は、昭和初期の保存運動の中で、島根産の石号と四国産のコロ号を交配して作られたアカ号の子孫が長野県へ移入・繁殖されたものを源流としており、その呼び名からしばしば誤解を受けるが信州地方原産種ではない。このため、天然記念物に指定された7犬種の中で、柴犬のみが地方名を冠していない。</p>
              </section>
            </section>
            <section class="c-main__sec">
              <h2>特性<a href="">編集</a></h2>
              <div class="c-main__image">
                <figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Fm_shiba_inu_puppy.jpg/300px-Fm_shiba_inu_puppy.jpg" alt="">
                  <figcaption>子犬</figcaption>
                </figure>
              </div>
              <div class="c-main__image">
                <figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Siro-shiba.JPG/300px-Siro-shiba.JPG" alt="">
                  <figcaption>白柴</figcaption>
                </figure>
              </div>
              <p>温暖湿潤気候に強い。一般に主人に対しては非常に忠実、よそ者に対しては馴れ馴れしくせず、賢く勇敢で警戒心も強いため、番犬にも適する。本来は山地や山あいで小動物の狩猟を手伝ってきた犬だが、現在は主に家庭犬として愛されている。</p>
              <p>柴犬の一般的な特徴は、短毛・立ち耳・巻き尾などにある。毛色は赤（茶）・胡麻・黒、希に白などがあり、尾形も左巻き・右巻き・さし尾など、個体によって違う。被毛は真っ直ぐで硬いトップコートと柔らかく縮れたアンダーコートによる二重被毛であり、年2回毛が生え替わる。一般に、雌より雄の方が体高・体長ともにやや大きい。</p>
              <p>性格は、古代犬種に良く見られるように大胆で独立心が強く、頑固な面を持ち合わせており[3]、洋犬に慣れた人には訓練が難しい場合もある。番犬向きの警戒心が強い個体から、ペット向きで見知らぬ人にも友好的な個体までと幅広い。ただし、日本犬の一般的な性格として、主人と認めた人間に比較的忠実であり、かつ警戒心と攻撃性が強めという傾向がある。また、雌よりも雄の方が比較的獰猛であるという傾向にある。獲物を直接追う猟犬として使われてきた長い歴史から、役割分担に従って多くの品種を派生させた欧州のガンドッグなどと比べ、視界を動くものを追って攻撃し、また捕らえようとする捕食本能が極めて強い。体高は37cm - 40cmほど。</p>
            </section>
            <section class="c-main__sec">
              <h2>豆柴犬<a href="">編集</a></h2>
              <p>いわゆる豆柴犬（まめしばいぬ）とは、愛玩用として、通常の柴犬よりも小型の系統のものを選んで交配し、繁殖させたものをいうが、あくまでも小柄な柴犬であり、独立した犬種ではない。1955年（昭和30年）頃より、京都（宇治市）樽井荘の鷹倉が交配・繁殖に努めた。</p>
              <section>
                <h2>豆柴犬購入による被害<span class="c-main__sub-menu__edit">編集</span></h2>
                <p>そもそも「豆柴」という公認犬は存在しないことを前提として理解する必要がある（後述）。 柴犬は年間6万頭 - 7万頭ほど生まれるが、このうち豆柴犬として取引されるのは500頭前後である。昨今、「豆柴」という単語の誤解・浸透とともに取引におけるトラブルが増えている。例として、柴犬を幼犬時の食餌制限により成長を抑制し小さく育てたもの、小柄に生まれた柴犬を豆柴と称して売る業者や、普通の柴犬の子犬を豆柴として売ることなどがある。その結果として、飼っているうちに豆柴とは言えないほど大きくなってしまうケースも多い。中には、近親交配を重ねれば小型になると間違った知識のもと、繁殖を続ける繁殖家もいる。この様な犬は繁殖能力の低下や短命等の障害が出ることがある。加えて、後述のように通用力を有する血統書の交付を「豆柴」として得るのが事実上不可能であるために、実体のない架空の畜犬団体名義の血統書を偽造の上、インターネット上で生体販売した業者に対して、業務停止命令が発せられる事件が起きるに至っている[4]。</p>
                <p>以上の事情から、日本犬保存会・天然記念物柴犬保存会・ジャパンケネルクラブなど、日本の主要な登録機関では豆柴犬は公認されていない[5][リンク切れ] [6]。一部例外として、日本社会福祉愛犬協会というNPO法人では、30年以上樽井荘血統を繁殖している大阪の摂州宝山荘を調査し、固定化が認められたとし、2008年（平成20年）より豆柴犬を独自に公認した[7]。成犬時の体高が規定内で、かつ豆柴犬種標準（スタンダード）[8]に適合している柴犬に対し、豆柴認定審査合格血統書を独自に発行している。更に3代祖14頭全てが豆柴認定審査に合格している場合、豆柴としての血統書が発行されるとしている[9]。このような動きに対して、柴犬の最大の登録機関である日本犬保存会は、豆柴が日本犬基準・登録規定になく、柴犬の血統を混乱させるとして、2008年（平成20年）3月より日本社会福祉愛犬協会を予備登録可能な団体のリストより削除している。</p>
              </section>
            </section>
            <section class="c-main__sec">
              <h2>ギャラリー<a href="">編集</a></h2>
              <div class="c-main__gallery">
                <ul>
                  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/%E9%BB%92%E6%9F%B4%E3%81%A8%E8%B5%A4%E8%8C%B6%E6%9F%B4.jpg/240px-%E9%BB%92%E6%9F%B4%E3%81%A8%E8%B5%A4%E8%8C%B6%E6%9F%B4.jpg" alt="" /></li>
                  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/%E9%BB%92%E6%9F%B4%E2%91%A0.JPG/240px-%E9%BB%92%E6%9F%B4%E2%91%A0.JPG" alt="" /></li>
                  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/%E9%BB%92%E6%9F%B4%E2%91%A1.jpg/240px-%E9%BB%92%E6%9F%B4%E2%91%A1.jpg" alt="" /></li>
                </ul>
              </div>
              <p>赤毛と黒毛</p>
            </section>
            <section class="c-main__sec">
              <h2>脚注<<a href="">編集</a></h2>
              <ol>
                <li>^ Parker, H.G.; Kim, L.V.; Sutter, N.B.; Carlson, S.; Lorentzen, T.D.; Malek, T.B.; Johnson, G.S.; DeFrance, H.B.; Ostrander, E.A.; Kruglyak, L. (2004-05-21). “Genetic structure of the purebred domestic dog”. Science 304 (5674): 1160. doi:10.1126/science.1097406. PMID 15155949.</li>
                <li>^ Derr, Mark (2004年5月21日). “Collie or Pug? Study Finds the Genetic Code”. ニューヨーク・タイムズ 2007年8月20日閲覧。</li>
                <li>^ a b ドッグ・ガイド - 柴, アニマルプラネット・ジャパン, accessdate=20101230.</li>
                <li>^ 「豆柴」犬業者に業務停止命令　血統書付きと誇大広告, 47NEWS, accessdate=20120627.</li>
                <li>^ 豆柴、小柴及びそれらの類似名称犬について, 日本犬保存会, accessdate=20120619.</li>
                <li>^ ティーカッププードル、豆柴について, ジャパンケネルクラブ, accessdate=20120627.</li>
                <li>^ 豆柴ガイド | 日本社会福祉愛犬協会, 日本社会福祉愛犬協会, accessdate=20120619.</li>
                <li>^ 豆柴犬種標準書〈スタンダード〉 | 豆柴ガイド | 日本社会福祉愛犬協会, 日本社会福祉愛犬協会, accessdate=20120619.</li>
                <li>^ 豆柴登録規定 | 豆柴ガイド | 日本社会福祉愛犬協会, 日本社会福祉愛犬協会, accessdate=20120619.</li>
              </ol>
            </section>
            <section class="c-main__sec">
              <h2>関連項目<a href="">編集</a></h2>
              <ul>
                <li>犬の品種一覧</li>
                <li>日本犬</li>
                <li>十石犬</li>
                <li>川上犬</li>
                <li>美濃柴犬</li>
                <li>山陰柴犬</li>
              </ul>
            </section>
            <section class="c-main__sec">
              <h2>外部リンク<a href="">編集</a></h2>
              <ul>
                <li>天然記念物柴犬保存会（柴保）</li>
                <li>NPO法人縄文柴犬研究センター（JSRC)</li>
                <li>NPO法人日本社会福祉愛犬協会
                  <ul>
                    <li>豆柴ガイド</li>
                  </ul>
                </li>
              </ul>
              <div class="c-category">
                カテゴリ: <a href="">日本犬</a><a>哺乳類天然記念物</a>
              </div>
              <div>
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" alt="">
                <p>ウィキメディア・コモンズには、柴犬に関連するメディアおよびカテゴリがあります。</p>
              </div>
            </section>
          </article>
        </main>
        <footer>
          <p>最終更新 2016年1月21日 (木) 03:27 （日時は個人設定で未設定ならばUTC）</p>
          <p>テキストはクリエイティブ・コモンズ 表示-継承ライセンスの下で利用可能です。追加の条件が適用される場合があります。詳細は利用規約を参照してください。</p>
          <div class="c-footer--nav">
            <ul>
              <li>プライバシー・ポリシー</li>
              <li>ウィキペディアについて</li>
              <li>免責事項</li>
              <li>開発者</li>
              <li>Cookie statement</li>
              <li>モバイルビュー</li>
            </ul>
            <div class="c-footer--img"><img src="https://ja.wikipedia.org/static/images/wikimedia-button-2x.png" alt="" /></div>
            <div class="c-footer--img"><img src="https://ja.wikipedia.org/w/resources/assets/poweredby_mediawiki_176x62.png" alt="" /></div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
