@charset "utf-8";
@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";

.label-header {
  font-size: 20px;
  margin: 25px 0 0 50px;
}

.label-tables {
  width: 980px;
}
.label-table {
  width: 470px;
  margin: 25px 0 50px 50px;
  display: inline-block;
}
.label-table-archived {
  width: 470px;
  min-height: 200px;
  margin: 60px 0 0 50px;
  display: inline-block;
  position: absolute;
}
#label-table {
  margin: 10px 0;
  min-height: 200px;
  border: 1px dotted #333;
  border-radius: 10px;
}
.label-table__header {
  @include clearfix;

  ul li {
    display: block;
    float: left;
    height: 30px;
    text-align: center;
  }
}

.label-table__handle {
  cursor: move;
  cursor: grabbing;
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  &.label-table__handle--end {
    left: inherit;
    right: 10px;
  }
}

.label-table__name {
  border-radius: 3px;
  width: 240px;
}
.label-table__color{
  @include clearfix;
  width: 120px;
}
.label-table__default-task{
  width: 300px;
}
.label-table__gabage{
  margin-left: 12px;
  width: 30px;
}

.label-table__list {
  padding: 8px 0 8px 30px;
  position: relative;
  border: 1px dotted #333;
  border-radius: 10px;

  @include clearfix;

  &.sortable-ghost {
    opacity: 0.2;
  }

  &.is-dragging {
    // visibility: hidden;
  }

  ul li {
    @include clearfix;
    float: left;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px;
  }

  & + & {
    /* margin-top: 20px; */
  }
}

.label-table__name-text {
  margin-left: 15px;
  padding-left: 10px;
  width: 220px;
  border-bottom: solid 1px #333;
}

.label-table__colorbox {
  border-radius: 5px;
  /* border: 1px dotted #333; */
  width: 100px;
  height: 25px;
  margin: 2px 15px 0 15px;
  float: left;
}
.dropdown-caret {
  position:absolute;
  left: 25px;
  top: 25px;
  z-index: 2px;

  &:before {
    @include triangle(12px 6px, #555 transparent, up);
    content: '';
    position: absolute;
    bottom: -16px; /*ボックスの下に指定 */
    left: 5px; /*ボックスの左に指定 */
  }

  /*　三角形（ボックスと同色） */
  &:after {
    @include triangle(12px 6px, white transparent, up);
    content: '';
    position: absolute;
    bottom: -18px; /*　外枠となる三角形の位置から1pxずらす */
    left: 5px; /*　外枠となる三角形の位置から1pxずらす */
  }

}
.label-table__colorbox__slickbox {
  // position: absolute;
}
.label-table__colorbox__colorList-outer {
  padding: 10px;
  width: 800px;
  height: 60px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}
.label-table__colorbox__colorList {
  float: left;
  border-radius: 10px;
  @include size(40px);

  & + & {
    margin-left: 10px;
  }
}
.label-table__colorbox__picker {
  position: relative;
  @include clearfix;
}
.label-table__colorbox__slick__outer {
  position: absolute;
  top: 45px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #555;
  border-radius: 8px;
}
.Icon--smallest {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.label-table__colorbox__colorList__radio {
  visibility: hidden;

  &:checked:after {
    top: 5px;
    left: 10px;
    position: absolute;
    content: "レ";
    visibility: visible;;
  }
}
.label-table__colorbox__colorSet {
  float:left;
  margin-left: 20px;
}
.label-table__colorbox__colorSet {

}
.label-table__color {
  font-size: 18px;
}
.label-table__color-text {
  font-size: 18px;
  width: 90px;
  border-bottom: solid 1px #333;
}

.label-table__default-text {
  width: 280px;
  border-bottom: solid 1px #333;
}
.label-table__gabage-img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.label-table__add-img {
  height: 25px;
  width: 25px;
  vertical-align: bottom;
}
.label-table__add-box {
  display: inline-block;
  /* margin-top: 20px; */
}
.label-table__add-text {
  font-size: 22px;
  line-height: 25px;
  margin-left: 5px;
  color: #555;
}
/////////// archived labels //////////////
.label-archived__title {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.label-table-archived-sorted {
  border: solid 1px #333;
  border-radius: 6px;
  min-height: 200px;
  padding-top: 30px;
}
