@charset "utf-8";
@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";

.header {
  @include clearfix;
  background-color: #007E84;

  a {
    color: #ffffff;
  }
}
.header__site-logo {
  float: left;
  font-size: 30px;
}

.header__menu {
  float: right;
  @include clearfix;

  & > ul > li {
    float: left;

    & + li {
      margin-left: 10px;
    }

    & > a {
      background-size: 20px 20px;
      display: inline-block;
      border: #fff 1px solid;
      border-radius: 6px;
      padding: 5px;
      font-size: 15px;
    }
  }

  &.project {
/*
    background:url(/assets/images/icon/icon-project.png) no-repeat;
*/
  }
  &.routien {
  }
  &.label {
  }
  &.snippet {
  }
  &.account {
  }

}
