@import org.joda.time._

@(name: String, yearRangeFromNow: (Int, Int), selectDate: Option[LocalDate])

<div class="select_common--small">
<select class="select_common__select" name="@(name)[]">
    @for(distance <- yearRangeFromNow._1 to yearRangeFromNow._2) {
    <option value="@(DateTime.now(DateTimeZone.forID("Asia/Tokyo")).getYear + distance)" @(if(selectDate.map(date=>(DateTime.now(DateTimeZone.forID("Asia/Tokyo")).getYear + distance) == date.getYear).getOrElse(false)){"selected='selected'"})>@(DateTime.now(DateTimeZone.forID("Asia/Tokyo")).getYear + distance)年</option>
    }
</select>
<input type="hidden" name="@(name)[]" value="01" />
<input type="hidden" name="@(name)[]" value="01" />
</div>
